/*---------------------------------------------- 
0. RESET & CLEARFIX
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption,figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,																			
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
}
a {
	text-decoration: none;
}

body {
	color: black;
	font-family: 'Quicksand', sans-serif;
}

span {
	text-shadow: 2px 2px 3px black;
}

.img-responsive {
	width: 100%;
	height: 675px;
	position: relative;																																																																																											
}
/*Navigation Styles*/
#sideNav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    transition: 0.5s;
    padding-top: 5.5em;
    opacity: 0.9;
}

#sideNav #closeButton {
	position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

#sideNav a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 38px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

#sideNav a:hover {
	text-shadow: 1px 1px 3px white;
}

#nav {
	padding: 2em 2em 1em 2em;
	margin: auto;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#watchLogo {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-bottom: 13px;
}

#logoName, #menu {
	display: inline-block;
}

#menu {
	float: right;
	margin: 1.5em;
	color: #fff;
}

#menuButton {
	background-color: transparent;
	border-color: transparent;
	font-size: 28px;
}

#logoName {
	float: left;
}

.carousel h1 {
	position: absolute;
	color: #fff;
	top: 4em;
	padding-left: 1.5em;
	font-size: 58px;
}

.carousel a {
	text-decoration: none;
	color: black;
}

/*About section styling*/
#about h1 {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	padding: 1em 1em 0.5em 1em;
}

#about p {
	text-align: center;
	font-size: 28px;
	padding: 0 1em 1em 0.5em;
}


/*Watches section styling*/
#watches {
	background-color: #2C2C2C;
}
#watches h1 {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	padding: 1em 1em 0.5em 1em;
	color: #fff;
}

select .form-control {
	display: inline-block;
}

form {
	text-align: center;
}

#search {
	text-align: center;
}

/*Contact section styling*/
#contact {
	text-align: center;
	font-weight: 900;
	font-size: 48px;
	padding: 1em 1em 0.5em 1em;
	color: black;
}

#contact h1 {
	font-weight: bold;
}
