<div id="main"> 
	<div id="search">
		<form>
			<label>Search: </label>
			<input class="form-class" ng-model="query" placeholder="Search for Watches"></input>

			<label class="form-group">
				<select class="form-control" ng-model="watchOrder">
					<option value="name">Name</option>
					<option value="size">Size</option>
				</select>
			</label>
		</form>
		<label class="radio-inline">
			<input type="radio" ng-model="direction" name="direction" checked> Ascending
		</label>
		<label class="radio-inline">
			<input type="radio" ng-model="direction" name="direction" value="reverse"> Descending
		</label>
	</div>

	<div class="row">
		<div class="col-md-offset col-md-3" ng-animate="'animate'" ng-repeat="item in watchName | filter: query | orderBy: watchOrder: direction">
			<img ng-src="img/watches/{{item.image}}.png" class="img-responsive">
		</div>
	</div>

</div>